
.nav-button:hover{
    -fx-background-color: lightgray;
}

.topbar{
    -fx-background-color: #fff;
}

.sidebar{
    -fx-background-color:  #222f3e;
}

.buttons_main{
    -fx-background-color:  #2b3b4e;
    -fx-text-fill: #fff;
    
}

.buttons_main:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-border-color: #4099ff;
    -fx-border-width: 0px 0px 0px 3px;
}

.main-background{
    -fx-background-color: #fff;
}

.buttons_other{
    -fx-background-color:  #2b3b4e;
    -fx-text-fill: #fff;
}

.buttons_other:hover{
    -fx-background-color: #334354;
    -fx-background-radius: 0px;
    -fx-text-fill: #e5e5e5;
    -fx-border-color: #4099ff;
    -fx-border-width: 0px 0px 3px 0px;
}