.jfx-tab-pane .headers-region {
    -fx-background-color:  #222f3e;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color:  #2b3b4e;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #16A9FA;
    -fx-stroke-width: 3pt;
    -fx-background-color:#4099ff;
}

.jfx-tab-pane .tab:selected {
    -fx-background-color: #334354;
}